body{
	margin:0 auto;
	color:black;
	font-family:"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

.textbox, #textbox{
	border:1px solid lightgrey;
	outline:none;
	width:175px!important;
	height:20px!important;
}

.textbox:focus, #textbox:focus{ border-color:rgb(47,47,47);	}
		
input[type='submit'],	input[type='button'], input[type='reset']{
	border:none;
	padding:7px 15px 7px 15px;
	outline:none;
	background-color:lightgrey;
}
			
input[type='submit']:hover,	input[type='button']:hover, input[type='reset']:hover{
	background-color:rgb(0,93,162);
	color:white;
}

ul{	
	list-style-type:none;
}

select{
	border:none;
	outline:none;
	background-color:#0072C6;
	color:white;
	font-size:large;
	padding:5px 10px 5px 20px;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
}

select::-ms-expand{	
	display: none;	
}

a:link{
	text-decoration:none;
	color:black;
}
			
a:visited{	
	color:black;	
}

a:hover{	
	color:red;	
}

a:active{	
	color:black;	
}

div.back{
	background-color:rgb(0,114,198)!important;
	color:white;
	top:0;
	width:100%;
	position:absolute;
}

div.back div.front{
	margin:auto;
	width:12in;   
}

div.front ul{
	list-style-type:none;
	margin:auto;
	width:100%;   
	display:table;
}

div.front > ul > li{
	display:inline-table;
	padding:10px;
}

div.front .hover{
	padding:24px 20px 26px 20px!important;
	vertical-align:top;
	color:white!important;
}

div.front .hover:hover{
	cursor:pointer;
	background-color:rgb(0,93,162);
}

div.main_box{
	margin-top:24px;
	margin-left:-20px;
	position:absolute;
	border:2px solid #0072C6;
	border-color:transparent #0072C6 #0072C6 #0072C6;
	width:200px;
	padding:10px 0px 10px 0px;
	display:none;
	color:black;
	background-color:white;
}

div.main_box ul{
	margin-left:-40px;
	list-style-type:none;
	display:block;
}	

div.main_box li{
	font-size:large;
	padding:5px 10px 5px 10px;
	display:block;
}

div.main_box li:hover{
	background-color:rgb(0,93,162);
	cursor:pointer;
}
			
div.sr_box{
	color:black;
	margin-left:45px;
	position:absolute;
	border:2px solid #0072C6;
	border-color:transparent #0072C6 #0072C6 #0072C6;
	width:200px;
	padding:10px 0px 10px 0px;
	display:none;
	background-color:white;
}

div.sr_box ul{
	margin-left:-40px;
	list-style-type:none;
	display:block;
}	

div.sr_box li{
	font-size:large;
	padding:5px 10px 5px 10px;
	display:block;
}
			
div.sr_box li:hover{
	background-color:rgb(0,93,162);
	cursor:pointer;
}

.bold{
	font-weight:bold;
}

.err{
	border:none;
	padding:none;
	margin:0;
	font-size:xx-small;
	display:block;
}

ul.panel{
	border:2px solid rgb(0,114,198);
	padding:1px;
	width:300px;
	height:24px;
}

ul.panel li{
	background-color:rgb(0,114,198);
	text-align:center;
	height:100%;
}

.gap1{
	margin-top:150px;	
}

.gap2{
	margin-bottom:100px;	
}

div.footer{
	position:fixed;
	bottom:0!important;
	width:100%;
	height:1.5em;
	background-color:rgb(0,114,198);
	text-align:center;
}